adium-theme-ubuntu==0.3.4
chardet==2.3.0
CherryTree==0.37.6
click==6.7
cryptography==1.7.1
duplicity==0.7.6
enum34==1.1.6
Flask==1.0.2
Flask-SQLAlchemy==2.3.1
gunicorn==19.9.0
idna==2.2
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.10
keyring==10.3.1
keyrings.alt==2.2
lockfile==0.12.2
MarkupSafe==1.0
Pillow==4.0.0
pyasn1==0.1.9
pycrypto==2.6.1
pyenchant==1.6.7
pygobject==3.22.0
pyxdg==0.25
SecretStorage==2.3.1
six==1.10.0
SQLAlchemy==1.1.14
unity-lens-photos==1.0
Werkzeug==0.14.1
