<div class="profile-popup">
  <div class="profile-popup-header">
    <!-- the "x" text represents the exit button on top right corner of activeLogin task popup box -->
    <!-- (click)="exitClick()": when the "x" button is clicked, call the exitClick() function to close the popup box -->
    <button type="button" class="close" aria-label="Close" (click)="exitClick()"><span aria-hidden="true">&times;</span></button>
    <h1 mat-dialog-title>Edit Profile</h1>
  </div>
  <br>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [value]="activeLogin.about_me" (input)="updatedLogin.about_me=$event.target.value"  placeholder="Task Title" type="text"/>
    </mat-form-field>
    <br>
    <mat-form-field>
        <textarea matInput [value]="activeLogin.skills_exp" (input)="updatedLogin.skills_exp=$event.target.value" placeholder="Description"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="buttonDiv">
    <button mat-button (click)="editProfile()" cdkFocusInitial class="btn btn-default btn-mine-right">Edit Profile</button>
  </div>

</div>
