<div class="popup">
  <div class="popup-header">
    <h1 mat-dialog-title>Sign up</h1>
    <button type="button" class="close" aria-label="Close" (click)="exitClick()"><span aria-hidden="true">&times;</span></button>
  </div>
  <br>
  <div mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="data.name" placeholder="Name*" type="text"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.username" placeholder="Username*" type="text"/>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput [(ngModel)]="data.password" placeholder="Password*" type="text"/>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.phone" placeholder="Phone number*" type="text"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="data.email" placeholder="email*" type="text"/>
    </mat-form-field>
  </div>
  <br>
  <div mat-dialog-actions class="buttonDiv">
    <button (click)="verifyDetails()" class="btn btn-primary btn-mine-right">Create an account</button>
  </div>
</div>
