<div class="popup">
  <div class="popup-header">
    <h1 mat-dialog-title>Login</h1>
    <button type="button" class="close" aria-label="Close" (click)="exitClick()"><span aria-hidden="true">&times;</span></button>
  </div>
  <br>
  <div mat-dialog-content>
    <!-- <b>Username: </b> -->
    <mat-form-field>
      <input matInput [(ngModel)]="data.username" placeholder="Username*" type="text"/>
    </mat-form-field>
    <br>
    <!-- <b>Password: </b> -->
    <mat-form-field>
        <input matInput [(ngModel)]="data.password" placeholder="Password*" type="text"/>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close] (click)="signUp()">Create an account</button>
    <button mat-button (click)="verifyLogin()" cdkFocusInitial class="btn btn-primary">Login</button>
  </div>
</div>
