<h2>All Posts</h2>
<ul class="all-post">
  <li *ngFor="let post of posts">
    Title: {{post.title}} | Id: {{post.id}}
  </li>
</ul>

<mat-drawer-container class="drawer">
  <mat-drawer  mode="side" opened>
    <br>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
    <br>
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox>Check me!</mat-checkbox>
    <br>
    <mat-slider></mat-slider>
    <br>
    <button mat-button class="btn btn-default">Apply Filter</button>
  </mat-drawer>
  <mat-drawer-content position="end">
    <mat-list>
      <div class="search-bar">
        <input type="text" ng-model="search" placeholder="Search for a task"/>
        <mat-form-field>
          <!--TODO SORT BY DROPDOWN BUTTON add all options and make it functional -->
          <mat-select placeholder="Sort by">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state of sortByOptions" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-list-item *ngFor="let post of posts" id="container">
        <b mat-line id="task-title"> {{post.title}} </b> <span id="budget"> {{post.lowest_bid | currency}} </span>
        <p mat-line id="task-desc"> {{post.description}} </p>
        <br>
<!--       <div class="row">
       >
        -->
        <div class="btn-group" id="bid-button">
          <a class="btn btn-primary a-btn-slide-text bottom-btn" >
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span><strong>Add</strong></span>
          </a>
          <a  class="btn btn-primary a-btn-slide-text bottom-btn">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span><strong>Edit</strong></span>
          </a>
          <a class="btn btn-danger a-btn-slide-text bottom-btn">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span><strong>Delete</strong></span>
          </a>
          <button class="btn btn-warning"  (click)="openBidPopup(post)"> Bid </button>
        </div>

      </mat-list-item>
    </mat-list>
  </mat-drawer-content>
</mat-drawer-container>

