
<ul class="all-post">
  <li *ngFor="let post of posts">
    Title: {{post.title}} | Id: {{post.id}} | Poster Id: {{post.poster_id}}
  </li>
</ul>
<div class="container">
  <h1>All Posts</h1>
  <div class="row">
    <div class="column left" >
      <h3>Filter By:</h3>
      <hr>
      <h4>Cuisine</h4>
      <mat-checkbox>Chinese</mat-checkbox>
      <br>
      <mat-checkbox>Indian</mat-checkbox>
      <br>
      <mat-checkbox>Italian</mat-checkbox>
      <br>
      <mat-checkbox>Japanese</mat-checkbox>
      <br>
      <mat-checkbox>Korean</mat-checkbox>
      <br>
      <h4>Event Type</h4>
      <mat-checkbox>Casual</mat-checkbox>
      <br>
      <mat-checkbox>Formal</mat-checkbox>
      <br>
      <mat-checkbox>Party</mat-checkbox>
      <br>
      <h4>Dietary Requirement</h4>
      <mat-checkbox>Halal</mat-checkbox>
      <br>
      <mat-checkbox>Pescetarians</mat-checkbox>
      <br>
      <mat-checkbox>Vegan</mat-checkbox>
      <br>
      <mat-checkbox>No Nuts</mat-checkbox>
      <br>
      <mat-checkbox>No Milk</mat-checkbox>
      <br>
      <h4>Task Budget</h4>
      <mat-checkbox>Less Than $50</mat-checkbox>
      <br>
      <mat-checkbox>$51 ~ $250</mat-checkbox>
      <br>
      <mat-checkbox>More than $250</mat-checkbox>
      <br>
      <button mat-button class="btn btn-primary btn-lg btn-block">Apply Filter</button>
    </div>
    <div  class="column right">
      <mat-list>
        <div class="search-bar">
          <input type="text" ng-model="search" placeholder="Search for a task"/>
          <mat-form-field>
            <!--TODO SORT BY DROPDOWN BUTTON add all options and make it functional -->
            <mat-select placeholder="Sort by">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let state of sortByOptions" [value]="state">{{state}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="posts.length > 0">
          <div class="well" *ngFor="let post of posts">
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading task-title">{{post.title}}</h4>
                <p class="text-right"> {{post.lowest_bid | currency}} </p>
                <p> {{post.description}}</p>
                <ul class="list-inline list-unstyled">
                  <!-- change to due date -->
                  <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                  <li>
                    <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                    <span><i class="fa fa-facebook-square"></i></span>
                    <span><i class="fa fa-twitter-square"></i></span>
                    <span><i class="fa fa-google-plus-square"></i></span>
                  </li>
                </ul>
              </div>
            </div>
            <button class="btn btn-primary" id="bid-button" (click)="openBidPopup(post)"> Bid </button>
          </div>
          <br>
        </div>
        <div  *ngIf="posts.length === 0"><p>There is no post at this moment</p></div>
      </mat-list>
    </div>
  </div>
</div>
