.post-popup-header {
  display: inline;
}

.post-popup-header h1 {
  float: left;
}

.post-popup-header #exit-button {
  float: right;
  font-size: 1.5em;
  display: inline;
}

.content {
  width: 350px;
  margin: 3px;
}
.buttonDiv {
  /* need to align buttons in center - currently doesn't work */
  position: relative;
}

mat-checkbox{
  font-weight: normal;
}


.btn-mine-right{
  right: 0;
  bottom: 5px;
  position: absolute;
}

mat-form-field {
  width: 80%;
  margin: 3px;
}

mat-dialog-actions {
  /* need to align buttons in center - currently doesn't work */
}
