<div class="post-popup">
  <div class="post-popup-header">
    <!-- the "x" text represents the exit button on top right corner of post task popup box -->
    <!-- (click)="exitClick()": when the "x" button is clicked, call the exitClick() function to close the popup box -->
    <h1 mat-dialog-title>Post Task</h1>
    <button type="button" class="close" aria-label="Close" (click)="exitClick()"><span aria-hidden="true">&times;</span></button>
  </div>
  <br>
  <div mat-dialog-content class="content">
    <mat-form-field>
      <input matInput [(ngModel)]="post.title" placeholder="Task Title" type="text"/>
    </mat-form-field>
    <br>
    <mat-form-field>
        <textarea matInput [(ngModel)]="post.description" placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput [(ngModel)]="post.cuisine" placeholder="Type of cuisine"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput [(ngModel)]="post.quality" placeholder="Food quality"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput [(ngModel)]="post.diet" placeholder="Type of diet"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput [(ngModel)]="post.num_ppl" placeholder="Number of people"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput [(ngModel)]="post.budget" placeholder="Budget"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput [(ngModel)]="post.event_date" placeholder="Event date"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput [(ngModel)]="post.bid_close" placeholder="Bid closing date"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput [(ngModel)]="post.location" placeholder="Location"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="buttonDiv">
  <button mat-button (click)="addPost()" cdkFocusInitial class="btn btn-default btn-mine-right">Post Task</button>
</div>
