<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="">{{title}}</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li  class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/"><a>Browse</a></li>
      <li *ngIf="this.activeLogin" routerLink="/task" routerLinkActive="active" class="nav-item"><a>My Tasks</a></li>
      <li *ngIf="this.activeLogin" routerLink="/bidpage" routerLinkActive="active" class="nav-item"><a>My Bids</a></li>
      <li *ngIf="this.activeLogin" routerLink="profile" routerLinkActive="active" class="nav-item"><a>Profile</a></li>
      <li class="nav-item"><a (click)="openPostPopup()">Post a Task</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!activeLogin"><a (click)="openSignUp()"><span class="glyphicon glyphicon-user"></span>  Sign Up</a></li>
      <li *ngIf="!activeLogin"><a (click)="openLogin()"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
      <li *ngIf="activeLogin" routerLink=""><a routerLink="" (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<router-outlet></router-outlet>
