.bid-popup-header {
  display: inline;
}

.bid-popup-header h1 {
  float: left;
}

.bid-popup-header #exit-button {
  float: right;
  font-size: 1.5em;
  display: inline;
}

#bid-button {
  /* need to align button to right */
}

mat-form-field {
  width: 80%;
}

mat-dialog-actions {
  /* need to align items to left currently doesn't work */
}
