<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <div ng-controller="PartyWhipController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="images\luna.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        PartyWhip
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Browse</a>
          <a class="nav-item nav-link disabled" href="#" onclick="loginAlert()">Tasks</a>
          <a class="nav-item nav-link disabled" href="#" onclick="loginAlert()">Profile</a>

          <!-- openLoginPopup currently doesn't work [removed]
               - will use ng-click when I can figure out how to make a popup in angularjs
          -->
          <button type="button" class="btn btn-warning" id="post-button" ng-click="" onclick="loginAlert()"> Post a task <span class="sr-only">(current)</span></button>
        </div>
      </div>
    </nav>
  </div>
</html>
