<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
      <meta charset="UTF-8">
      <title>Lunatics</title>
      <link href="styles\css\bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="styles\partywhip.css" rel="stylesheet" type="text/css" />
      <script src="app\lib\angular.min.js"></script>
      <script src="scripts\js\bootstrap.min.js"></script>
      <script src="app\app.js"></script>
      <script src="app\partywhip.js"></script>
  </head>
  <body>
    <header ng-include="'header.html'"></header>
    <br>
    <div class="content">
      <div ng-controller="PartyWhipController">
        <input type="text" id="search-bar" ng-model="search" placeholder="Search for a task"/>
        <ul>
          <!-- orderBy: '-task' would reverse alphabetical order
               ng-hide="post.task_open" would hide all tasks that are open (opposite of ng-show)
          -->
          <li ng-repeat="post in posts | orderBy: order | filter: search" ng-show="post.task_open">
            <b>{{post.task}}</b>
            <div class="remove" ng-click="removePost(post)">x</div>
            <span>Budget: {{post.task_budget | currency}}</span>
          </li>
        </ul>

        <div id="mount-point">
           <p1> Hello Lunatics <3</p1>
        </div>
      </div>
    </div>
  </body>
</html>
