/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }


btn-primary{
  background-color: #a7f6ee;
  color: #a7f6ee;
}
.popup-header {
  display: inline;
}

.popup-header h1 {
  float: left;
}

.popup-header #exit-button {
  float: right;
  font-size: 1.5em;
  display: inline;
}
