<form>
  <div class="panel-heading"><span> Personal information</span></div>
  <div class="panel-body">
    <fieldset>
    <div class="form-group">
      <label class="form-header">Name:</label>
      <div class="form-body">Your Name</div>
    </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label class="form-header">Description:</label>
        <div class="form-body">Your Name</div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label class="form-header">Location:</label>
        <div class="form-body">Your Name</div>
      </div>
    </fieldset>
  </div>
</form>
<!-- TODO insert More poster's information here>>
