<div class="bid-popup">
  <div class="bid-popup-header">
    <!-- the "x" text represents the exit button on top right corner of bid task popup box -->
    <!-- (click)="exitClick()": when the "x" button is clicked, call the exitClick() function to close the popup box -->
    <div class="popup-heading"><h1 mat-dialog-title>{{post.title}}</h1><p id="exit-button" (click)="exitClick()">x</p></div>
  </div>
  <br>
  <div mat-dialog-content>
    <h3> Current Lowest Bid:{{post.lowest_bid}}</h3>
    <mat-list-item *ngFor="let bid of post.bids">
      <b mat-line> {{bid.name}} </b> <span id="budget"> {{bid.bid_offer | currency}} </span>
      <p mat-line> {{bid.phone_no}} </p>
      <p mat-line> {{bid.email}} </p>
      <p mat-line> {{bid.description}} </p>
    </mat-list-item>
  </div>

  <div mat-dialog-content>
    <h2 mat-dialog-title>Description</h2>
    <p>{{post.description}}</p>
  </div>
</div>
