.bid-popup-header {
  display: inline;
}

.bid-popup-header #exit-button {
  /* float: right;
  font-size: 1.5em;
  display: inline; */
}



mat-form-field {
  width: 80%;
}

mat-dialog-actions {
  /* need to align items to left currently doesn't work */
}
