<div class="bid-popup">
  <div class="bid-popup-header">
    <!-- the "x" text represents the exit button on top right corner of bid task popup box -->
    <!-- (click)="exitClick()": when the "x" button is clicked, call the exitClick() function to close the popup box -->
    <h1 mat-dialog-title>{{post.title}}</h1><p id="exit-button" (click)="exitClick()">x</p>
  </div>
  <br>
  <div mat-dialog-content>
    <h2>{{post.budget}}</h2>
    <mat-form-field>
      <input matInput [(ngModel)]="bid.name" placeholder="Name" type="text"/>
    </mat-form-field>
    <br>
    <mat-form-field>
        <textarea matInput [(ngModel)]="bid.phone_no" placeholder="Phone number"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput [(ngModel)]="bid.email" placeholder="Email"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput [(ngModel)]="bid.description" placeholder="Description"></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-content>
    <h4> Lowest bid: {{post.lowest_bid}} </h4>
    <br>
    <mat-form-field>
      <p> Your bid </p>
      <input matInput [(ngModel)]="bid.bid_offer" type="text"/>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <!-- dialog box will only close if "bid" list is not empty ([mat-dialog-close]="bid")-->
    <button mat-button (click)="verifyBid()" id="bid-button" cdkFocusInitial>Bid Task</button>
  </div>
</div>
