<div class="bid-popup">
  <div class="bid-popup-header">
    <!-- the "x" text represents the exit button on top right corner of bid task popup box -->
    <!-- (click)="exitClick()": when the "x" button is clicked, call the exitClick() function to close the popup box -->
    <button type="button" class="close" aria-label="Close" (click)="exitClick()"><span aria-hidden="true">&times;</span></button>
  </div>
  <br>
  <div mat-dialog-content>
    <h1>{{post.title}}</h1>
    <h2 mat-dialog-title>Description</h2>
    <p>{{post.description}}</p>
    <h3> Current Lowest Bid:{{post.lowest_bid}}</h3>
  </div>

  <div mat-dialog-content>
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Bidded</th>
        <th>Contact No.</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody *ngFor="let bid of bids">
        <tr>
          <td> {{bid.name}} </td>
          <td id="budget">{{bid.bid_offer | currency}} </td>
          <td> {{bid.phone_no}} </td>
          <td> {{bid.email}} </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
